#gameCanvas {
    border: 5px solid white;
    background-color: black;
    display: block;
    
}

@font-face {
    font-family: 'gameplay';
    src: url('../FONTS/Gameplay.ttf') format('truetype');
}
body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1f1f1f;
    font-family: 'gameplay';
}
h1{
    color: white;
    position: relative;
    margin: 1% 0 10px 0; /*Arriba, derecha, abajo, izquierda*/
    font-size: clamp(16px, 3vw, 36px); /*mínimo, por defecto, máximo*/
}

#pts-J1, #pts-J2{
    color: white;
    position:fixed;
    top: 5%;
    font-size: clamp(30px, 6vw, 70px);
}
#pts-J1{
    left: 30%;
}
#pts-J2{
    right: 30%;
}
#reset{
    position: relative;
    top: auto;
    margin-top: 10px;
    color: lightgray;
    background-color: #a00;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-family: 'gameplay';
    font-size: clamp(10px, 2vw, 20px);
}
#reset:hover{
    background-color: rgb(122, 0, 0);
    cursor: pointer;
    transform: translateY(-2px);
}
