#gameCanvas {
    border: 5px solid white;
    background-color: black;
    display: block;
    margin: 0 auto;
}

@font-face {
    font-family: 'gameplay';
    src: url('../FONTS/Gameplay.ttf') format('truetype');
}
#centrar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1f1f1f;
    font-family: 'gameplay';
}
h1{
    color: white;
    position: relative;
    font-size: clamp(24px, 5vw, 60px);
    
}

#pts-J1, #pts-J2{
    color: white;
    position:fixed;
    font-size: clamp(24px, 5vw, 60px);
}
#pts-J1{
    left: 25%;
}
#pts-J2{
    right: 25%;
    
}
#reset{
    position: relative;
    top: auto;
    margin-top: 20px;
    color: lightgray;
    background-color: #a00;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-family: 'gameplay';
    font-size: clamp(14px, 2vw, 24px);
}
#reset:hover{
    background-color: rgb(122, 0, 0);
    cursor: pointer;
    transform: translateY(-2px);
}
